@{
    ViewData["Title"] = "Adicionar Mercado";
}

<!-- Rota: Mercado/PreencherFormularioDeCadastro/(Mercado/Adicionar) -->
<!-- Rota: Mercado/PreencherFormularioDeCadastroComProduto/(Mercado/Adicionar) -->

<div><h2>Cadastro Realizado!</h2></div>