@{
    ViewData["Title"] = "Adicionar Produto";
}

<!-- Rota: Mercado/PreencherFormularioDeCadastro/(Produto/PreencherFormularioDeCadastro)/(Produto/Adicionar) -->

<div><h2>Cadastro Realizado!</h2></div>